// Colors
@brand-primary:  #00ccff;
@primary: #00ccff;
@secondary: #e77249;
@inverse-bg: #2c3e50;
@primary-color: #333;
@first-color: #00ccff;
@second-color: #e77249;
@third-color: #1bb869;
@fourth-color: #2c3e50;
@fifth-color: #19aa8d; //light green

@border-color: #d7d7d7;

// Navbar
@nav-bg: #fff;
@navbar-brand-size:140px;
@navbar-inverse-bg:#fff;
@navbar-inverse-border-color:#d3e0e9;
