.search-banner {
  color: #fff;
  height: auto !important;
  .container {
    width: 640px !important;
    margin-bottom: 50px;
  }
   .btn {
      background: #fff;
      color: #242a30;
      line-height:1.36;
  }
  .form-control {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

  .header {
    color: #fff;
    text-align: center;
  }
  .search-tags {
    margin-top: 20px;
  }
  .popular-tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
    > li {
      display: inline-block;
      margin-right: 3px;
      margin-bottom: 5px;
      > a {
        padding: 3px 10px;
        border-radius: 40px;
        border: 2px solid #ccc;
        color: #fff;
        display: inline-block;
        i {
          font-size: 6px;
          margin-right: 3px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

.blog-title-top {
    padding-left: 59px;
    border-left: 1px solid $boder-alt-color;
    margin-left: 30px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $boder-alt-color;
}

.blog-posts {
    padding-left: 59px;
    border-left: 1px solid $boder-alt-color;
    margin-left: 30px;
  .post {
    position: relative;
    background: #FFF;
    border: 1px solid #E6E9ED;
    border-bottom-width: 2px;
    border-radius: 3px;
    margin-bottom: 35px;
    @include css3-prefix('box-shadow', 0 0 3px #E1DEDE);

    .post-img {
      overflow: hidden;
      >img {
        width: 100%;
      }
    }

    .format-author {
      display: table;
      position: absolute;
      top: 0px;
      left: -90px;
      font-size: 15px;
      img {
        width: 60px;
        height: 60px;
        @include border-radius(50%);
      }
    }

    .date-wrapper {
      text-align: center;
      display: table;
      float: left;
      margin-right: 20px;
      position: absolute;
      top: 70px;
      left: -90px;
      .date {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
        width: 60px;
        height: 60px;
        border: 1px solid $primary;
        @include border-radius(50%);
        background: $primary;
        font-weight: bold;
        color: #FFF;
        line-height: 1;
        text-transform: uppercase;
      .day {
        font-size: 20px;
        margin-bottom: 1px;
        display: block;
        .month {
          font-size: 12px;
          display: block;
        }
      }
    }
  }
  .format-wrapper {
    display: table;
    position: absolute;
    top: 145px;
    left: -80px;
    font-size: 15px;
    a {
      display: table-cell;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      background: #FFF;
      text-align: center;
      color: $primary;
      line-height: 1;
      border: 1px solid $primary;
      border-radius: 50%;
    }
  }
  .post-content {
    padding: 30px;
    font-size: 14px;
    line-height: 23px;
    img {
      max-width: 100%;
    }
    .post-read-more {
      margin-top: 30px;
    }
    .post-title {
      margin: 0px;
      margin-bottom: 10px;
      a {
        color: $fourth-color;
      }
    }
    .post-meta {
      padding: 0px;
      padding-bottom: 5px;
      padding-top: 5px;
      margin: 0px;
      > li {
        display: inline-block;
        margin: 0 6px;
        &.post-tags {
        > a {
            padding: 3px 10px;
            border-radius: 40px;
            border: 1px solid #ccc;
            display: inline-block;
            i {
              font-size: 6px;
              margin-right: 3px;
              position: relative;
              top: -2px;
            }
          }
        }
        a {
          color: $fourth-color;
        }
      }
    }
  }
 }
}

.blog-categories {
  ul {
    padding: 0px;
    margin: 0px;
    li {
      list-style-type: none;
      padding: 8px;
      border-bottom: 1px solid $border-color;
      a {
        color: $fourth-color;
        font-size: 14px;
        overflow: hidden;
      }
      i {
        font-size: 11px;
        padding-right: 8px;
        color: $third-color;
      }
    }
  }
}

.blog-tags {
  .popular-tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
    > li {
      display: inline-block;
      margin-right: 3px;
      margin-bottom: 5px;
      > a {
        padding: 3px 10px;
        border-radius: 40px;
        border: 2px solid #ccc;
        color: $primary-color;
        display: inline-block;
        i {
          font-size: 6px;
          margin-right: 3px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

.blog-cards {
  >ul {
     padding: 0;
    margin: 0; 
  }
  margin-bottom: 50px;
  .blog-card {
    width: 32.1%;
    overflow: hidden;
    list-style-type: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    .blog-card-img {
      width: 100%;
      overflow: hidden;
      height: 150px;
      img {
        width: 100%;
      }
    }
    .blog-card-info {
      position: relative;
      .blog-card-user {
        position: absolute;
        top: -30px;
        z-index: 2;
        img {
          width: 60px;
          float: left;
          @include border-radius(50%);
          border:2px solid $first-color;
        }
        .blog-card-user-info {
          margin-left: 70px;
          padding-top: 5px;
          .blog-card-user-name {
            font-weight: bold;
            color: #fff;
            font-size: $font-size-base + 1;
            padding-bottom: 10px;
          } 
          .blog-card-date {
            font-size: 11px;
            font-weight: bold;
          }        
        }
      }
      padding: 20px;
      h2 {
        //@include ellipsis();
        font-size: 16px;
        margin-top: 20px;
        a {
          color:$fourth-color;
        }
      }
      .blog-card-hold {
          overflow: hidden;
          height: 200px;
      }
    }
    .blog-card-stats {
      padding: 10px;
      margin-left: 20px;
      margin-right: 20px;
      border-top: 1px solid $border-color;
      font-weight: bold;
      .blog-card-link {
        text-transform: uppercase;
        font-weight: bold;
        color:$first-color;
      }
    }
  }
}

.blog-discuss {
  margin-bottom: 20px;
  .btn {
    margin-top: 20px;
  }
  h2 {
    margin-top: 0px;
    text-align: left;
    margin-bottom: 15px;
  }
  .discuss-list {
    margin: 0px;
    padding: 0px;
    > li {
      position: relative;
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
      &:last-of-type {
        border-bottom: none;
      }
      &.active {
        background-color: #eceff4;
      }
      border-bottom: 1px solid $border-color;
      padding: 10px;
      margin: 10px;
      list-style-type: none;
      color: #54657e;
    }
    .discuss-list-img {
      @include border-radius(50%);
      width: 90px;
      float: left;
    }
    .discuss-stats {
      width: 190px;
      float: right;
      text-align: left;
      font-weight: bold;
      position: absolute;
      right: 0px;
      top:10px;
      padding: 10px;
      border-left: 1px solid $border-color;
      i {
        font-size: 18px;
      }
      .discuss-stats-section {
        border-bottom: 1px solid $border-color;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        span {
          padding:3px;
          display: inline-block;
          width: 60px;
          font-size: 13px;
          &.list-like{
            color: #96bb32;
          }
          &.list-dislike{
            color: #ff0000;
          }
        }
      }
      .list-replies {
        display: block;
        font-size: 14px;
        margin-top: 8px;
      }
    }
    .discuss-list-info {
      margin-left: 110px;
      margin-right: 190px;
    }
    .discuss-list-question {
      font-weight: 800;
      color: #3d4d65;
      padding-bottom: 5px;
      font-size: $font-size-base + 1;
      display: block;
      @include ellipsis();
    }

    .discuss-list-tags {
      color: #3d4d65;
      margin-top: 10px;
       >ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        float: left;
        > li {
          display: inline-block;
          margin-right: 3px;
          margin-bottom: 5px;
          > a {
            padding: 3px 5px;
            border-radius: 40px;
            border: 1px solid #ccc;
            color: $primary-color;
            font-size: $font-size-base - 2;
            display: inline-block;
            i {
              font-size: 6px;
              margin-right: 3px;
              position: relative;
              top: -2px;
            }
          }
        }
      }
    }
    .discuss-list-name {
      color: #3d4d65;
      margin-top: 5px;
    }
    .discuss-list-date {
      color: #aaa;
      font-weight: bold;
      text-transform: uppercase;
      font-size: $font-size-base - 2;
    }
  }
}

.blog-discuss {
    padding: 15px;
  .discuss-stats {
      top:-7px !important;
      .discuss-stats-section {
        padding: 8px;
        > span {
          width: 80px !important;
        }
      }
      .last {
        border-bottom: none !important;
        text-transform: uppercase;
      }
  }
}

.blog-paging {
  display: block;
  width: 100%;
  float: none;
  list-style-type: none;
}