.margin-bottom {
  margin-bottom: 50px;
}
.comments-context {
  &.timeline {
    padding: 0px;
    padding-left: 59px;
    border-left: 1px solid $boder-alt-color;
    margin-left: 30px;
    .shadow {
      padding: 15px;
    }
    .comments-stats-total {
      display: table;
      position: absolute;
      top: -12px;
      left: -90px;
      >span{
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
        width: 60px;
        height: 60px;
        border: 1px solid $primary;
        @include border-radius(50%);
        background: $primary;
        font-weight: bold;
        color: #FFF;
        line-height: 1;
        text-transform: uppercase;
        font-size: 15px !important;      
      }

    }
  }
  padding : 15px;
  .comments-stats {
    margin-bottom: 20px;
    border-bottom: 1px solid $border-color;
    h2 {
      padding-top: 0px;
      margin-top: 0px;
      .label {
        font-size: $font-size-base - 2;
        vertical-align: middle;
      }
    }
  }
  .comments-list {
    margin: 0px;
    padding: 0px;
    > li {
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
      &:last-of-type {
        border-bottom: none;
      }
      &.active {
        background-color: #eceff4;
      }
      border-bottom: 1px solid $border-color;
      padding: 10px;
      list-style-type: none;
      color: #54657e;
      position: relative;
    }
    .comments-list-reply-holder {
      margin-top: 20px;
    }
    .comments-list-replies {
      margin-left: 40px;
    } 
    .comments-list-img {
      @include border-radius(50%);
      width: 70px;
      float: left;
    }
    .comments-list-info {
      margin-left: 90px;
    }
    .comments-list-name,
    .comments-list-status {
      display: block;
    }
    .comments-list-name {
      font-weight: 800;
      color: #3d4d65;
      padding-bottom: 5px;
      font-size: $font-size-base + 1;
      position: relative;
      .comments-fold {
        position: absolute;
        right: 20px;
      }
    }
    .comments-list-date {
      color: #aaa;
      font-weight: bold;
      text-transform: uppercase;
      font-size: $font-size-base - 2;
    }
    .comments-list-opinion {
      margin-top: 15px;
      font-weight: bold;
      ul {
        display: table;
        margin: 0px;
        padding: 0px;
        li {
          list-style-type: none;
          display: table-cell;
          padding-right: 10px;
          padding-left: 10px;
          border-right: 1px solid $border-color;
          text-transform: uppercase;
          &:last-of-type {
            border-right: none;
          }
          .fa {
            font-size: 14px;
            padding-right: 5px;
          }
          a {
            color: #54657e;
            font-size: 11px;
            span {
              text-transform: uppercase;
              padding-right: 3px;          
            }
          }
          &.comments-list-like {
            span {
              color: #96bb32;
            }
          }
          &.comments-list-dislike {
            span {
              color: #ff0000;
            }
          }          
        }
      }
    }
  }
}

.comments-list {
  .comments-list-replies {
    display: none;
  }
  .comments-list {
    li {
      padding-right: 0;
    }
  }
}

.comment-write {
  padding : 15px;
  border-bottom: 1px solid $border-color;
  display: block;
  .comment-require-login {
    margin-bottom: 20px;
  }
  textarea {
    height: 80px;
  }
  .comments-write-img {
    @include border-radius(50%);
    width: 70px;
    float: left;
  }
  .comments-form {
      margin-left: 90px;
      .btn {
        margin-top: 10px;
        float: right;
        @include transition(all 0.3s);
      }
  }
}

.comment-add {
  display: block;
  .comment-require-login {
    margin-bottom: 10px;
  }
  .comments-form {
   textarea {
      height: 80px;
    }      
    .btn {
        margin-top: 10px;
        float: right;
        @include transition(all 0.3s);
      }
  }
}