.search-banner-forum {
    color: #fff;
    height: auto !important;
    .container {
        width: 800px !important;
        margin-bottom: 50px;
    }
    .btn {
        background: #fff;
        color: #242a30;
        line-height: 1.36;
    }
    .form-control {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        border: none;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    .header {
        color: #fff;
        text-align: center;
    }
    .search-tags {
        margin-top: 20px;
    }
    .popular-tags {
        list-style-type: none;
        margin: 0;
        padding: 0;
        > li {
            display: inline-block;
            margin-right: 3px;
            margin-bottom: 5px;
            > a {
                padding: 3px 10px;
                border-radius: 40px;
                border: 2px solid #ccc;
                color: #fff;
                display: inline-block;
                .fa {
                    font-size: 6px;
                    margin-right: 3px;
                    position: relative;
                    top: -2px;
                    color: #fff !important;
                }
            }
        }
    }
}

.forum-discuss {
    margin-bottom: 20px;
    .btn {
        margin-top: 20px;
    }
    h2 {
        margin-top: 0px;
        text-align: left;
        margin-bottom: 15px;
    }
    .discuss-list {
        margin: 0px;
        padding: 0px;
        > li {
            position: relative;
            &:before,
            &:after {
                content: " ";
                display: table;
            }
            &:after {
                clear: both;
            }
            &:last-of-type {
                border-bottom: none;
            }
            &.active {
                background-color: #eceff4;
            }
            border-bottom: 1px solid $border-color;
            padding: 10px;
            margin: 10px;
            list-style-type: none;
            color: #54657e;
        }
        .discuss-list-img {
            @include border-radius(50%);
            width: 90px;
            float: left;
        }
        .discuss-stats {
            width: 180px;
            float: right;
            text-align: left;
            font-weight: bold;
            position: absolute;
            right: 0px;
            top: 10px;
            padding: 10px;
            border-left: 1px solid $border-color;
            .fa {
                font-size: 18px;
            }
            .discuss-stats-section {
                border-bottom: 1px solid $border-color;
                padding-top: 5px;
                padding-bottom: 5px;
                display: block;
                span {
                    padding: 3px;
                    display: inline-block;
                    width: 60px;
                    font-size: 13px;
                    &.list-like {
                        color: #96bb32;
                    }
                    &.list-dislike {
                        color: #ff0000;
                    }
                }
                &.last {
                    border-bottom: none !important;
                }
            }
            .list-replies {
                display: block;
                font-size: 14px;
                margin-top: 8px;
            }
        }
        .discuss-list-info {
            margin-left: 110px;
            margin-right: 190px;
        }
        .discuss-list-question {
            font-weight: 800;
            color: #3d4d65;
            padding-bottom: 5px;
            font-size: $font-size-base + 1;
            display: block;
            @include ellipsis;
        }
        .discuss-list-name {
            color: #3d4d65;
            margin-top: 10px;
        }
        .discuss-list-date {
            color: #aaa;
            font-weight: bold;
            text-transform: uppercase;
            font-size: $font-size-base - 2;
        }
    }
}

.forum-categories {
    h2 {
        margin: 0;
        font-size: 22px;
    }
    .forum-category-list {
        margin: 0px;
        padding: 0px;
        .forum-category-item {
            position: relative;
            widows: 100%;
            &:before,
            &:after {
                content: " ";
                display: table;
            }
            &:after {
                clear: both;
            }
            &:last-of-type {
                border-bottom: none;
            }
            &.active {
                background-color: #eceff4;
            }
            border-bottom: 1px solid $border-color;
            list-style-type: none;
            color: #54657e;
            .table-cell {
                padding: 10px;
                margin: 10px;
            }
        }
        .forum-list-img {
            text-align: center;
            vertical-align: middle;
            width: 90px;
            i {
                font-size: 55px;
            }
        }
        .forum-stats {
            width: 150px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            padding: 10px;
            border-left: 1px solid $border-color;
            span {
                display: block;
                font-size: 22px;
            }
        }
        .forum-list-info {
            padding-right: 20px;
            .forum-list-question {
                font-weight: 800;
                color: #3d4d65;
                padding-bottom: 5px;
                font-size: $font-size-base + 5;
                display: block;
                @include ellipsis;
            }
        }
    }
}

.forum-permissions {
    ul {
        padding: 0px;
        margin: 0px;
        li {
            list-style-type: circle;
            list-style-position: inside;
            padding: 5px;
            border-bottom: 1px solid $border-color;
            a {
                color: $fourth-color;
                overflow: hidden;
            }
            .fa {
                font-size: 11px;
                padding-right: 8px;
                color: $third-color;
            }
        }
    }
    .forum-rules {
        display: block;
        font-size: $font-size-base + 2;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }
}

.forum-stats {
    ul {
        padding: 0px;
        margin: 0px;
        li {
            list-style-type: circle;
            list-style-position: inside;
            padding: 5px;
            border-bottom: 1px solid $border-color;
            font-weight: bold;
            .fa {
                font-size: 11px;
                padding-right: 8px;
                color: $third-color;
            }
        }
    }
}

.forum-favorites {
    padding: 15px;
    .discuss-stats {
        top: -7px !important;
        .discuss-stats-section {
            padding: 8px;
            > span {
                width: 50px !important;
            }
        }
        .last {
            border-bottom: none !important;
            text-transform: uppercase;
        }
    }
}

.forum-me {
    .discuss-list-info {
        min-height: 115px;
    }
}