.noty-list {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        vertical-align: middle;
        display: table;
        width: 100%;
        border-bottom: 1px solid $border-color;
        li {
            display: table-cell;
            padding: 7px;
            vertical-align: middle;
        }
        .noty-list-date {
            text-align: center;
            width: 80px;
            span {
                padding: 5px;
                font-weight: bold;
                font-size: $font-size-base + 1;
            }
        }
        .noty-list-icon {
            width: 30px;
            i {
                font-weight: bold;
                color:$third-color;
                //font-size: 16px;
            }
        }
        .noty-list-title {
            font-style: italic;
            width: 80px;
        }
        .noty-list-link {
            display: block;
            padding-bottom: 4px;
            font-weight: bold;
        }
    }

    .noty-read-more {
        padding: 5px;
        margin: 10px;
        font-weight: bold;
        border: 1px solid $third-color;
        @include border-radius(5px);
    }
}