.navbar-fixed {
  .navbar-fixed-top {
      position: relative !important;
    }
  .top-nav-strip {
    display: none;
  }
  .hero {
    height: 550px;
    .container {
      padding-top: 100px;
    }
  } 
}
.navbar {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 0px;
    @include transition(all 0.3s);
    .navbar-brand {
        img {
            margin: 10px;
            height: 80px;
        }
    }
    &.navbar-default {
      background: transparent;
      border:none;
      .navbar-brand {
        background-image: url(../images/logo-white.png);
      }
      .navbar-nav {
        .dropdown {
          &.open {
            >a {
              color: #fff;
            }
          }
        }
      }
    }
    &.navbar-inverse {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12);
      border:none;
      .navbar-brand {
        background-image: url(../images/logo.png);
      }
      .navbar-nav {
        > .active > a {
          &:hover,
          &:focus {
            color: $fourth-color;
          }
        }
        .dropdown {
          >a {
            padding-right:20px;
          }
          &.open {
            >a {
              &:focus,
              &:hover {
                background-color: transparent;
              }
            }
          }
          >a:before {
            font-family: 'FontAwesome';
            content: "\f107";
            position: absolute;
            left: auto;
            top: 7px;
            right:4px;
            line-height: 1;
            color: #fff;
          }          
        }
      }
      .navbar__separator {
          border-left: 1px solid #eee;
          height: 23px;
          @include transition(border-color 0.3s);
      }
    }    
    .navbar-brand {
        background-size: 140px;
        background-repeat: no-repeat;
        background-position: 10px 15px;
        display: inline-block;
        width: 180px;
    }
    .navbar-nav {
      > li {
          padding-top: 37px;
          padding-bottom: 15px;
          padding-right: 5px;
        > a {
          padding-top: 0px;
          padding-bottom: 0px;
          padding: 5px 10px;
          font-weight: 600;
          &.focus {
            color: $fourth-color;
            background-color: rgba(#fff, 0.7);
            @include border-radius(10px);
            &:hover {
              background-color: rgba(#fff, 0.8);
            }
          }
        }
      }
      .navbar-text {
        margin-top: 9px;
      }
      .navbar__separator {
          border-left: 1px solid #eee;
          height: 15px;
          @include transition(border-color 0.3s);
      }
    } 
}

.navbar-floated {
    .navbar-inverse {
        .navbar-brand {
          background-size: 110px;
          height: 50px;
          width: 140px;
        }
      .navbar-nav {
        height: 50px;
        > li {
          padding-top:23px;
          > a {
            font-weight: 600;
            color: $gray-dark;
            background-color: transparent !important;
            &.focus {
              color: #fff;
              background-color: $primary !important;
              @include border-radius(10px);
              &:hover {
                background-color: rgba($primary, 0.6) !important;
                color: #fff;
              }
            }
            &:hover,
            &:focus {
              color: darken($gray-dark, 20);
              background-color: transparent !important;
            }
          }
          .navbar-text {
            margin-top: 9px;
          }
        }
        .dropdown-menu {
          min-width: 200px;
        }
      }
    }
    .navbar {
      min-height: 50px;
      height: 70px;
    }
}

.top-nav-strip {
  .socials-simple {
    padding-top: 5px;
    i {
      font-size: 18px;
      &:hover {
        color: #fff;
      }
    }
  }
  .l-page {
      padding-right: 25px;
  }
  .top-site-nav {
    float: right;
    .navbar-nav > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 10px;
      &:hover{
        background-color: transparent !important;
      }
    }
  }
}

.navbar-design-3 {
  .navbar-brand {
    height: 65px !important;
    background-size: 130px !important;
    background-position: 10px 10px;
  }
  .navbar {
    height: 70px;
  }
  .top-nav-strip {
    margin-top: 18px;
  }
}

.wrapper {
    //@include css3-prefix('box-shadow', 10px 0 10px rgba(0, 0, 0, 0.2));
    @include transition(margin 0.3s);
}

.main-slider {
  .flex-control-nav {
    bottom: 50% !important;
    left: 30px;
    display: inline-block;
    width: auto;
    z-index: 100;
    &.flex-control-paging {
      li {
        display: block;
        margin-bottom: 10px;
        color: #fff;
        a {
          background-color: #fff;
          &.flex-active {
            background: $second-color;
          }
        }
      }      
    }
  }
}


.price-grid {
  margin-top: 40px;
   ul {
    li {
      width: 200px;
      height: 200px;
      display: inline-block;
      margin: 15px;
      @include border-radius(50%);
      position: relative;
      overflow: hidden;
      cursor: default;
      box-shadow: inset 0 0 0 0 $primary, inset 0 0 0 10px $primary, 0 1px 2px $primary;
      @include transition(all 0.4s ease-in-out);
      background: #fff;
      padding: 25px 3px;
      &:hover {
        box-shadow: inset 0 0 0 110px rgba($primary, 0.8), inset 0 0 0 8px rgba($primary,0.8), 0 1px 2px rgba(0,0,0,0.1);
      }
      .action {
        display: none;
        @include transition(all 0.4s ease-in-out);
        position: absolute;
        left: 0px;
        top:0px;
        text-align: center;
        width: 100%;
        z-index: 20;
        .btn {
          padding: 5px 10px;
          margin-top: 82px;
          font-weight: bold;
        }
      }
      &.active {
        .action {
          display: block;
        }
      }
      .ion {
        color:$primary;
        font-size: 70px;
      }
      i.icon {
          position: relative;
          font-style: normal;
          &:before {
            position:absolute;
            font-family: Ionicons;
            top:-10px;
            left:-45px;
            right:0px;
            bottom:0px;
            font-size: 100px;
            color: rgba($secondary,0.3);
          }
          &.ico-chat {
            &:before {
              content: "\f3f9";
            }
          }
          &.ico-chat-live {
            &:before {
              content: "\f460";
              //content: "\f0e6";
            }
          }
          &.ico-healer {
            &:before {
              top:0px;
              content: "\f3c6";
            }
          }
        }
      .price-text {
        position: absolute;
        margin: 14px;
        top: 60px;
        z-index: 10px;
        h2 {
          color: $primary;
          font-size: 18px;
          height: 35px;
        }
        span {
          color: darken($primary, 10);
          font-weight: bold;
        }
      }
    }
   }
}

.quote-header {
  position: relative;
  margin-left: 60px;
  margin-top: 70px;
  .quote {
    background-color:rgba(1, 83, 103, 0.7);
    font-size: 16px;
    color: #fff;
    line-height: 25px;
    letter-spacing: -0.03333em;
    @include border-radius(10px);
    background-clip: padding-box;
    position: relative;
    margin: 10px;
    padding: 30px;
    h4 {
      color: #fff;
      line-height: 24px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 85px;
      width: 0;
      height: 0;
      border-top: 20px solid rgba(1, 83, 103, 0.7);
      border-right: 25px solid transparent;
    }
  }
  .quote-footer {
    font-size: 12px;
    text-align: right;
    margin: 1.05882em 0;
    color: #fff;
    margin-right:10px;
    &:before {
      content: "";
      display: table;
    }
  }
  .quote-image {
    img {
      @include border-radius(50%);
      background-clip: padding-box;
      width: 6.64706em;
      height: 6.64706em;
    }
    float: left;
    display: inline;
    margin-right: 2em;
    margin-left: 0px;
    margin-top: -2.94118em;
    position: relative;
    @include border-radius(50%);
    background-clip: padding-box;
    padding: 0.47059em;
    background-color: rgba(1, 83, 103, 0.7);
  }
}

section {
  &.promises {
  &.section {
    padding: 0px;
  }
  ul {
    padding: 0;
    margin: 0;
  }
    padding: 10px !important;
    text-align: center;
    img {
      width: 80px;
    }
    .godaddy {
      width: 140px;
    }
    background-color: #cad3df;
    .brand-img {
      color: #fff;
      font-size: 26px;
      margin-top: 27px;
    }
  }
}

.navbar-loggedin {
  .navbar-header {
    width: 400px;
  }
}
