.press {
  margin-bottom: 20px;
}
.press li {
  margin-right: 30px;
  margin-bottom: 10px;
}

.text-center {
  p {
    text-align: inherit;
  }
}

.healers-list {
    margin-top: 20px;
    nav li a{
        font-weight: bold;
    }
}

.healers-list {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 50px;
    .tab-content {
        margin-top: 30px;
    }
    .healers {
        li {
          list-style-type: none;
          display: inline-block;
          padding: 10px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
          img {
            width: 110px; 
            margin:10px;
          }
          .name {
            font-weight: bold; 
            padding-bottom: 10px;
          }
          .profession {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .experience {
            font-style: italic;
          }
        }
      .healers-count {
        text-align: center;
        margin-top: 30px;
      }
    }
}

.message-box {
  margin-top: 20px;
  color: #fff;
  textarea {
    width: 80%;
    height: 140px;
    background: transparent;
    border: 5px solid darken($hero-bg-start,10);
    text-align: left;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  .btn {
    padding: 10px;
  }
  .form-control{
    padding: 20px 10px;
    font-size: 20px;
  }
  .checkbox {
    margin-top: 10px;
  }
  .input-group {
    margin-top: 20px;
  }
  .about {
    margin-top: 75px;
    text-align: center;
    font-weight: 35px;
  }
  .signin {
    margin-top: 75px;
    text-align: center;
  }
  .heading {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 50px;
    color: #fff;
  }
  @include placeholder-color(darken($hero-bg-start, 15), 18px);
}

.free-healer {
  text-align: center;
  border-bottom: 1px solid lighten(#d7d7d7,10%);
  .heading {
    line-height: 30px;
  }
  .btn {
    margin-bottom: 30px;
  }
}

.signup-pane {
  padding: 80px 10px 80px 10px;
  .btn {
    margin-top: 20px;
  }
}

.message-box {
  h1 {
    margin-top: 180px !important;
    font-size: 30px !important;
  }
}

.listeners-section {
  margin-top: 120px;
  color: #fff;
  h1 {
    font-size: 50px !important;
    @include css3-prefix('text-shadow','0 2px 2px rgba(0,0,0,.2)');
    font-weight: normal;
    color: #fff;
  }
  .about {
    font-size: 18px;
    margin-top: 10px;
  }
  .btn {
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 18px;
  }
}

.blank-hight {
  height: 130px;
}

.doctors-section {
  margin-top: 190px;
  color: #fff;
  h1 {
    font-size: 50px !important;
    @include css3-prefix('text-shadow','0 2px 2px rgba(0,0,0,.2)');
    font-weight: normal;
    color: #fff;
  }
  .about {
    font-size: 18px;
    margin-top: 10px;
  }
  .btn {
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 18px;
  }
}

.main-slider-box {
    position: absolute;
    z-index: 100;
    top:80px;
    width: 100%;
}

.font-fix {
  -webkit-font-smoothing: antialiased;
}

.features-intro {
  border-top:1px solid $border-color;

  .features-introduce {
    text-align: center;
    &.features-index {
      h2 {
        padding-top: 20px;
      }
    }
    h2 {
      padding: 70px 0px 14px;
      font-size: 28px;    
    }
    p {
      padding-bottom: 60px;
      font-size: 16px;
    }
  }
  
  .features {
    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      font-size: $font-size-base + 1;
    }
    .features-photo {
      width: 180px;
      float: left;
      img {
        width: 160px;
      }
    }
    .features-info {
        margin-left: 180px;
    }
  }
}

.footer-icons {
  margin-top: 45px;
  img {
    max-width: 150px;
    padding: 5px;
  }
}

.testimonials {
  &.headshot-dark {
    .review-item-about__name,
    .review-item-about__position {
      color: #fff;
    }
  }
}