
.wrapper-aside {
  .aside-sidebar-backdrop {
    display: block;
  }
}

.aside-sidebar-backdrop {
  display: none;
  top: 0;
  left: $sidebar-width;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0,0,0,.6);
  z-index: 10000;
}

.aside-static {
    position: fixed;
    width: $sidebar-width;
    z-index: 1001;
    top: 0px;
    left: -$sidebar-width;
    bottom: 0px;
    min-height: 100%;
    height: auto;
    @include transition(all 0.5s);
    &.aside-default {
        background-color: $fourth-color;
    }

.sidebar-collapse {
    position: relative;
    overflow: auto;
    color:#a7b1c2;
    .nav-header {
        width: 100%;
        padding: 5px;
        overflow: hidden;
        text-align: center;
        > .image {
            img {
                width: 100%;
                height: auto;
                max-height: 350px;
            }
            margin-bottom: 10px;
            position: relative;
            display: inline-block;
            overflow: hidden;
            .image-link {
                bottom: -7px !important;
                cursor: pointer;
                padding: 10px;
                position: absolute;
                display: inline-block;
                vertical-align: middle;
                width: 40px;
                height: 40px;
                @include border-radius(50%);
                color: #fff;
                background-color: $third-color;
                &:hover {
                    background-color: $second-color;
                }
            }
            .image-upload {
                right: -7px;
            }
            .image-delete {
                left: -7px;
            }
        }
        > .info {
            padding: 5px 5px 5px 15px;
            line-height: 1;
            text-align: center;
            .info-name {
                font-weight: 700;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-weight: bold;
            }
            > a {
                text-decoration: none;
                padding-right: 5px;
                margin-top: 3px;
                font-size: 11px;
                > .fa,
                > .ion,
                > .glyphicon {
                    margin-right: 3px;
                }
            }
        }
    }
    .aside-nav {
        margin: 0px;
        padding: 0px;
        list-style: none;
        margin-bottom: 80px;
        padding-bottom: 80px;
        >li {
            &.active {
                border-left: 3px solid $third-color;
                background-color: darken($fourth-color,5);//#293846;
            }
            &.divider {
                border-top: 1px solid darken($fourth-color,2);
            }
            a {
                color: #a7b1c2;
                display: block;
                width: 100%;
                position: relative;
                font-weight: 600;
                text-decoration: none;
                @include transition(background-color 0.3s ease);

                i {
                    font-size: 15px;
                    margin-right: 6px;
                    width: 16px;
                }
                &.active,
                &:hover {
                    color: #fff;
                }
                .arrow {
                    float: right;
                    line-height: 1.42857;
                }
            }
            > a {
                padding:10px 20px 10px 15px;
                &.active,
                &:hover {
                    background-color: darken($fourth-color,5);
                }
            }            
            ul {
                list-style: none;
                padding: 0px;
                margin: 0;
                > li {
                    a {
                        padding: 7px 10px 7px 10px;
                        padding-left: 45px;                        
                    }
                }
            }
        }

    }
}

}

.wrapper-loggedin {
    margin-left: $sidebar-width;
    @include transition(all, 0.5s);
    .container:not(.hero .container) {
        width: 100% !important;
    }
    .navbar-fixed-top {
        left: $sidebar-width;
        .container {
            width: 100% !important;;
            padding-right: 30px;
        }
    }
    .aside-static {
        left: 0;
    }
}