
/**
 * Sidebar general
 */

.js-wrapper-aside {
  .sidebar-backdrop {
    display: block;
  }
}

.sidebar-backdrop {
  display: none;
  top: 0;
  left: 0;
  right: $rsidebar-width;
  bottom: 0;
  position: fixed;
  background: rgba(0,0,0,.6);
  z-index: 10000;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0px;
    right: -$rsidebar-width;
    width: $rsidebar-width;
    overflow: hidden;
    z-index: 100;
    @include gradient-vertical(#325776, #355c7d, 0%, 100%);
    background-repeat: repeat-x;
    @include transition(all 0.3s);
    .sidebar__wrapper {
      position: relative;
      min-height: 100%;
      height: auto;
      padding: 20px;
      padding-bottom: 90px;
      overflow: auto;
    }
  .menu {
    &.main-menu {
      margin-bottom: 30px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
       > li > a {
        display: block;
        padding: 4px 2px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include transition(color 0.15s);
         &:hover,
         &:focus {
          color: white;
        }
      }
    }
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }
  .sheading {
      margin: 30px 0px 20px;
      font-size: 13px;
      font-weight: 700;
      color: $primary;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .socials {
      li a {
        color: #fff;
        font-size: 20px;
      }
  }
  .promises {
    position: absolute;
    width: 100px;
    top: 150px;
    right:0px;
    img {
      width: 80px;
    }
  }
}

.wrapper {
  &.js-wrapper-aside {
    margin-left: -$rsidebar-width;
    margin-right: $rsidebar-width;
    .sidebar {
      right: 0;
    }
    .navbar-fixed-top {
      left: -$rsidebar-width;
      right: $rsidebar-width;
    }
    .aside-static {
      left: -$sidebar-width;
    }
    &.wrapper-loggedin {
      margin-left: 0;
      margin-right: $rsidebar-width;
      .navbar-fixed-top {
        left: 0;
      }
    }
  }
}