.qtip-bootstrap .qtip-titlebar .qtip-close {
  right: 20px;
}

.chosen-container-multi {
    .chosen-choices {
       li.search-choice {
            background-image: none !important;
        }
        background-color: #fff;
        border: 1px solid #ccc;
        @include css3-prefix('border-radius', 4px);
        @include css3-prefix('box-shadow', inset 0 1px 1px rgba(0, 0, 0, .075));
        background-image: none !important;
    } 
}
.alert {
    padding: 5px;
    margin-bottom: 10px;
}

li.ac-load-more-remove {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    .pagination-finished {
        margin-left: 0;
        margin-right: 0;
    }
}