/* preloader */
.preloader {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #fff;
    top: 0;
    left: 0;
    color: #e1e1e1; 
    .preloader-content-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        text-align: center;
        .preloader-content {
            display: table-cell;
            vertical-align: middle;
            background: url(../images/preloader.gif) no-repeat;
            background-position: center;
        }
    }
}

.shadow {
  @include css3-prefix('box-shadow', 0 0 3px #E1DEDE);
  @include border-radius(5px);
  background-color: #fff;
  &.widget {
    background: #fff;
    padding: 15px;
    margin-bottom: 25px;
      .header {
        font-size: 25px !important;
        margin: 0px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid $border-color;
        &.small {
            font-size: 22px !important;
        } 
        &.tiny {
            font-size: 18px !important;
        }      
      }
  }
  &.shadow-content {
    padding: 20px;
  }
  &.shadow-padding {
    padding: 15px;
  }
}

.add-space-right {
    overflow: hidden;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 25px;
    img {
        width: 100%;
    }
}

.text-left {
    text-align: left !important;
}

.bold,.text-bold {
    font-weight: bold;
}

.text-upper {
    text-transform: uppercase;
}

.bb {
    border-bottom: 1px solid $border-color;
}

.br {
    border-right: 1px solid $border-color;
}

.bl {
    border-left: 1px solid $border-color;
}

.bt {
    border-top: 1px solid $border-color;
}

.border {
    border: 1px solid $border-color;
}

.border-top {
    border-top: 1px solid $border-color;
}
.general-padding {
    padding: 15px;
}

.table-layout {
    display: flex;
    table-layout: fixed;
    .table-cell {
        display: table-cell;
        &.middle {
            margin: auto;
            vertical-align: middle;
        }
    }
    .table-row {
        display: table-row;
    }
}

.container {
    max-width: 1200px !important;
}

#side-items {
    position: absolute;
    bottom: 0px;
    left: 40px;
}

#content-box {
    position: relative;
    .title {
        font-weight: bold;
        color: #00ccff;
        padding: 10px;
        padding-left: 15px;
    }
}

.margin-top {
    margin-top: 10px;
}

.form-control.small {
    width: 50%;
}

.separator {
    padding: 2px;
    color: #d7d7d7;
}

.single-wrapper {
    background-color: #f3f3f3;
    padding-top: 50px;
    .container-box {
        padding: 0px;
        margin: 0px;
        margin-right: 20px;
    }
    .container {}
    .context {
        background-color: #fff;
        box-shadow: 0px 0px 1px 1px #d7d7d7;
        border-radius: 5px;
        margin: 0px;
        padding: 10px;
    }
}

.ui-autocomplete {
    > li {
        border: none;
        border-bottom: 1px solid $border-color;
        &:hover {
            background: transparent;
        }
        &:after {
            content: "";
            display: block;
        }
        .auto-avatar {
            width: 40px;
            @include border-radius(50%);
            float: left;
        }
        .auto-info {
            margin-left: 50px;
            .auto-title {
                display: block;
                font-weight: 600;
                color: #3d4d65;
            }
        }
    }
    .ui-item-focus {
        background: transparent;
    }
}

.pagination-minimal {
    text-align: center;
    .pagination-show-more
    {
        padding: 8px 15px;
        color: #fff;
        display: inline-block;
        background-color: $third-color;
        border: 1px solid darken($third-color, 5);
        text-align: center;
        @include border-radius(5px);
        cursor: pointer;
        &:hover {
            color: darken(#fff, 10);
            background-color: darken($third-color, 5);
            border: 1px solid darken($third-color, 10);
        }
    }
    .pagination-finished,
    .pagination-results
    {
        padding: 8px;
        margin: 10px;
        font-weight: bold;
        border: 1px solid $third-color;
        @include border-radius(5px);
    }
}