// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;

// Colors
$brand-primary:  #00ccff;
$primary: #00ccff;
$secondary: #e77249;
$inverse-bg: #2c3e50;
$primary-color: #333;

$first-color:#00ccff;
$second-color:#e77249;
$third-color:#1bb869;
$fourth-color:#2c3e50;
$fifth-color:#19aa8d; //light green

$hero-bg: '../images/bg/bg-5.jpg';
$hero-bg-start: #015367;
$hero-bg-end: #04819E;

$content-bg:#f3f3f3;
$border-color: #edf0f4;
$boder-alt-color:#CED7E0;
$shadow-color:#E1DEDE;

$nav-border: #dcd4cf !default;

$footer-bg: #f4f8f7;
$footer-color: #2c3e50;

// Left-Sidebar-menu
$sidebar-width:220px;
$sidebar-bg:#2f4050;

//right-siderbar
$rsidebar-width:240px;
$rsidebar-bg:#2f4050;
