@ion-inverse:          #fff !default;
@ion-font-size-base:   14px !default;

.ion {
  display: inline-block;
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
}


.ion-icon-rotate(@degrees, @rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation);
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
          transform: rotate(@degrees);
}

.ion-icon-flip(@horiz, @vert, @rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation);
  -webkit-transform: scale(@horiz, @vert);
      -ms-transform: scale(@horiz, @vert);
          transform: scale(@horiz, @vert);
}

// Spinning Icons
// --------------------------

.ion-spin {
  -webkit-animation: ion-spin 2s infinite linear;
          animation: ion-spin 2s infinite linear;
}

.ion-pulse {
  -webkit-animation: ion-spin 1s infinite steps(8);
          animation: ion-spin 1s infinite steps(8);
}

@-webkit-keyframes ion-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes ion-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

// Fixed Width Icons
// -------------------------
.ion-fw {
  width: (18em / 14);
  text-align: center;
}

/* makes the font 33% larger relative to the icon container */
.ion-lg {
  font-size: 20px;
  line-height: (3em / 4);
  vertical-align: -15%;
}
.ion-2x { font-size: 3em; }
.ion-3x { font-size: 4em; }
.ion-4x { font-size: 5em; }
.ion-5x { font-size: 6em; }

// Fixed Width Icons
// -------------------------
.ion-fw {
  width: (18em / 14);
  text-align: center;
}

// Stacked Icons
// -------------------------

.ion-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.ion-stack-1x, .ion-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.ion-stack-1x { line-height: inherit; }
.ion-stack-2x { font-size: 2em; }
.ion-inverse { color: @ion-inverse; }

// Rotated & Flipped Icons
// -------------------------

.ion-rotate-90  { .ion-icon-rotate(90deg, 1);  }
.ion-rotate-180 { .ion-icon-rotate(180deg, 2); }
.ion-rotate-270 { .ion-icon-rotate(270deg, 3); }

.ion-flip-horizontal { .ion-icon-flip(-1, 1, 0); }
.ion-flip-vertical   { .ion-icon-flip(1, -1, 2); }

// Hook for IE8-9
// -------------------------

:root .ion-rotate-90,
:root .ion-rotate-180,
:root .ion-rotate-270,
:root .ion-flip-horizontal,
:root .ion-flip-vertical {
  filter: none;
}
